

#div1 {
	width:2%;
	float: left;
	position: relative; bottom: -10px;
}

#div2 {
	width: 90%;
	margin: 0 auto;
	position: relative; top: -50px;
}

.ui {
	padding: 20px;
}

#div3 {
	width: 5.7%;
	float: left;
}

.theselectors {
	position: relative; top: -30px;
	position: relative; left: 10px;
}

select {
	color: grey;
	border-color: salmon;
	border-style: dotted;
	background-color: white;
	padding: 7px;

}

.crumbs-container {
  		position: relative; top: -50px;
  		position: relative; left: 10px;
			overflow: hidden;
			height: 3.2em;
			-webkit-transition: height 0.5s ease-out; 
			-moz-transition: height 0.5s ease-out;  
			-o-transition: height 0.5s ease-out; 
			transition: height 0.5s ease-out;
		}
		.crumbs-container.active {
			height: 13.6em;
		}
		.crumbs {
			width: 100%;
			position: absolute;
			bottom: 0;
			
		}
		.crumbs li a {
			display: block;
			padding: 1em;
			border-bottom: 1px solid #000;
		}
		.crumbs li:last-child a {
			border-bottom: 0;
		}
		#crumbs-trigger {
			position: absolute;
			bottom: 0;
			right: 0;
			display: block;
			font-size: 2em; 
			padding: 0 0.5em 0.2em;
		}
		
		@media all and (min-width: 32em) {
			.crumbs-container.active {
				height: 3.2em;
			}
			.crumbs {
				padding: 1em;
			}
			.crumbs li {
				display: inline-block;
			}
			.crumbs li a {
				display: inline;
				border: 0;
				padding: 0;
			}
			.crumbs li:after {
				content: ' > ';
				padding: 0 0.25em 0 0.5em;
				color: #999;
			}
			.crumbs li.last:before, .crumbs li.last:after {
				content: '';
			}
			#crumbs-trigger {
				display: none;
			}
		}

.crumbs-container {
	border-color: grey;
	border-width: 2px;
	width: 800px;
	border-style: solid;
	padding: 10px;
}



section {
	color: grey;
	font-family: 'Lato', sans-serif;
	font-family: 'Montserrat', sans-serif;

}

a {
	text-decoration: none;
    color: grey;
}

a:hover {
	text-decoration: underline;
}

hr{
	color: floralwhite;
	border-width: medium;
	border-color: #FFA3A3;
	border-style: solid;
	position: relative; top: -30px;
}


h1{
	width: 200px;
	height: 50px;
	color: whitesmoke;
	text-align: center;
	background-color: rosybrown;
	border-spacing: 10px;
	border-style: dotted;
	border-width: thick;
	border-color: beige;
	padding: 10px; 
	margin-left: 10px;
	justify-content: flex-start
}

body{
	background-image: url(file:///Users/urvigupta/Desktop/Screenshot%202022-04-16%20at%202.11.44%20PM.png);
	background-size: cover;
}


#div4 {
	padding: 5px;
	margin: 10px;
	background-color: floralwhite;
	border-color: lightcoral;
	border-style: double;
	position: relative; top: -40px;

}

h3 {
	color:#842B4C;
	font-family: 'Montserrat', sans-serif;

}
 
h2{
	font-family: 'Lato', sans-serif;
	font-family: 'Montserrat', sans-serif;
}

.hi{
	padding: 10px;
}

.hoi {
	padding: 10px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  position: relative; top: 20px;
  position: relative; right: 250px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
  }

.checked {
  color: orange;
}

.img1 {
	position: relative; top: -35px;
	position: relative; right: 130px;
	float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}


.container {
  	position: relative; top: -500px;
  	position: relative; right: -900px;
}

.image {
  opacity: 1;
  width: 500px;
  height: 500px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-70%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: rosybrown;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  position: relative; left: -465px;
  background-color: whitesmoke;
  padding: 10px;
}

.h31 {
	border-color: whitesmoke;
	width: 800px;
}

.h32 {
	border-color: whitesmoke;
	width: 800px;
}





